#Python Cache
__pycache__\agents.cpython-39.pyc
__pycache__\agents.cpython-313.pyc
__pycache__\config.cpython-39.pyc
__pycache__\config.cpython-313.pyc
__pycache__\db_manager.cpython-39.pyc
__pycache__\db_manager.cpython-313.pyc