<div class="home">
  <div class="carousel">
    <div class="slides" [style.transform]="'translateX(-' + current * 100 + '%)'" >
      <img src="assets/images/image_1.png" alt="Slide 1" />
      <img src="assets/images/image_2.png" alt="Slide 2" />
      <img src="assets/images/image_3.png" alt="Slide 3" />
    </div>

    <!-- Controls -->
    <button class="prev" (click)="prevSlide()">❮</button>
    <button class="next" (click)="nextSlide()">❯</button>

    <!-- Indicators -->
    <div class="indicators">
      <span *ngFor="let slide of slidesArray; let idx = index"
            [class.active]="idx === current"
            (click)="goToSlide(idx)">
      </span>
    </div>
  </div>
  <div class="home-content">
    <h1>Welcome to PlayHub</h1>
    <p>Your gateway to exciting sports matches!</p>
    <div #loader id="loader" class="loader">
      <mat-spinner diameter="100"></mat-spinner>
      <p>Loading...</p>
    </div>
    <form #matchForm="ngForm" (ngSubmit)="findMatch(matchForm)" class="home-content">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" name="name" [(ngModel)]="formData.name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" name="email" [(ngModel)]="formData.email" type="email" required email>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sport</mat-label>
        <mat-select name="sport" [(ngModel)]="formData.sport" required>
          <mat-option value="badminton">Badminton</mat-option>
          <mat-option value="football">Football</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Proficiency</mat-label>
        <mat-select name="proficiency" [(ngModel)]="formData.proficiency" required>
          <mat-option value="Beginner">Beginner</mat-option>
          <mat-option value="Intermediate">Intermediate</mat-option>
          <mat-option value="Advanced">Advanced</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput type="date" name="date" [(ngModel)]="formData.date" #dateInput="ngModel" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Time</mat-label>
        <input matInput name="time" type="time" [(ngModel)]="formData.time" #timeInput="ngModel" required>
        <mat-error *ngIf="timeInput.invalid && timeInput.touched">
          Time is required and must be in the future
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select name="type" [(ngModel)]="formData.type" required>
          <mat-option value="individual">Individual</mat-option>
          <mat-option value="group">Group</mat-option>
        </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="primary" matButton="filled" type="submit">
        Find Match
      </button>
    </form>
  </div>
</div>

