.container {
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    th, td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  .status-booked {
    color: rgb(99, 121, 194);
    font-weight: bold;
  }

  .status-pending {
    color: orange;
    font-weight: bold;
  }

  .status-cancelled {
    color: red;
    font-weight: bold;
  }
}

// .loader {
//   display: none;       /* hidden by default */
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   min-height: 200px;
// }

// .loader.active {
//   display: flex;       /* show only when 'active' class is added */
// }

// .hidden {
//   display: none !important;
// }